
*.xcuserstate

*.xcsettings

*.xcbkptlist

Android/Seeds/bin/classes/com/simplelife/seeds/android/Utils/JSONProcess/SeedsJSONMessage$SeedsStatusByDate.class

.DS_Store

Android/Seeds/.settings/org.eclipse.jdt.core.prefs

Android/Seeds/bin/AndroidManifest.xml

Android/Seeds/bin/classes/com/simplelife/seeds/android/BuildConfig.class

Android/Seeds/bin/classes/com/simplelife/seeds/android/Manifest$permission.class

Android/Seeds/bin/classes/com/simplelife/seeds/android/Manifest.class

Android/Seeds/bin/classes/com/simplelife/seeds/android/R$anim.class

Android/Seeds/bin/classes/com/simplelife/seeds/android/R$attr.class

Android/Seeds/bin/classes/com/simplelife/seeds/android/R$color.class

Android/Seeds/bin/classes/com/simplelife/seeds/android/R$dimen.class

Android/Seeds/bin/classes/com/simplelife/seeds/android/R$id.class

Android/Seeds/bin/classes/com/simplelife/seeds/android/R$layout.class

*.class
