
*.xcuserstate

*.xcsettings

*.xcbkptlist

Android/Seeds/bin/classes/com/simplelife/seeds/android/Utils/JSONProcess/SeedsJSONMessage$SeedsStatusByDate.class

.DS_Store

Android/Seeds/.settings/org.eclipse.jdt.core.prefs

Android/Seeds/bin/AndroidManifest.xml

Android/Seeds/bin/classes/com/simplelife/seeds/android/BuildConfig.class

Android/Seeds/bin/classes/com/simplelife/seeds/android/Manifest$permission.class

Android/Seeds/bin/classes/com/simplelife/seeds/android/Manifest.class

Android/Seeds/bin/classes/com/simplelife/seeds/android/R$anim.class

Android/Seeds/bin/classes/com/simplelife/seeds/android/R$attr.class

Android/Seeds/bin/classes/com/simplelife/seeds/android/R$color.class

Android/Seeds/bin/classes/com/simplelife/seeds/android/R$dimen.class

Android/Seeds/bin/classes/com/simplelife/seeds/android/R$id.class

Android/Seeds/bin/classes/com/simplelife/seeds/android/R$layout.class

*.class

Android/Seeds/bin/jarlist.cache

Android/Seeds/bin/Seeds.apk

Android/Seeds/bin/classes.dex

Android/Seeds/bin/classes/android-support-v4.jar

Android/Seeds/bin/res/drawable-hdpi/arrow.png

Android/Seeds/bin/res/drawable-hdpi/arrow1.png

Android/Seeds/bin/res/drawable-hdpi/divider_horizontal_line.png

Android/Seeds/bin/res/drawable-hdpi/dot_none.png

Android/Seeds/bin/res/drawable-hdpi/download.png

Android/Seeds/bin/res/drawable-ldpi/start.png

Android/Seeds/bin/res/drawable-hdpi/ic_launcher.png

Android/Seeds/bin/res/drawable-hdpi/no_image.png

Android/Seeds/bin/res/drawable-hdpi/ic_menu_desk_clock.png

Android/Seeds/bin/res/drawable-hdpi/ic_download_misc_file_type.png

Android/Seeds/bin/res/drawable-hdpi/image_page_bg.png

Android/Seeds/bin/res/drawable-hdpi/rihanna.png

Android/Seeds/bin/res/drawable-hdpi/item_topic.png

Android/Seeds/bin/res/drawable-ldpi/ic_launcher.png

Android/Seeds/bin/res/drawable-hdpi/sign_down.png

Android/Seeds/bin/res/drawable-hdpi/grid_view.png

Android/Seeds/bin/res/drawable-hdpi/grid.png

Android/Seeds/bin/res/drawable-nodpi/empty_photo.png

Android/Seeds/bin/res/drawable-ldpi/stop.png

Android/Seeds/bin/resources.ap_

Android/Seeds/bin/res/drawable-hdpi/download2.png

Android/Seeds/bin/res/drawable-mdpi/ic_launcher.png

Android/Seeds/bin/res/drawable-hdpi/dot_selected.png

Android/Seeds/bin/res/drawable-xhdpi/ic_launcher.png
