Package: com.simplelife.Seeds.ios
Name: Seeds
Version: 0.1
Architecture: iphoneos-arm
Description: Seeds App's Description
Homepage: http://106.187.38.78/cydia
Maintainer: Seeds Team <seeds.team.cn@gmail.com>
Author: Seeds Team <seeds.team.cn@gmail.com>
Section: [成人]
