Package: com.simplelife.Seeds.ios
Name: Seeds
Version: 0.1
Architecture: iphoneos-arm
Description: BTing AV Anytime Anywhere
Homepage: http://www.seedscloud.tk
Maintainer: Seeds Team <seeds.team.cn@gmail.com>
Author: Seeds Team <seeds.team.cn@gmail.com>
Section: [成人]
