Package: SeedsCloud
Name: Seeds
Version: 0.1-5
Architecture: iphoneos-arm
Description: BTing AV Anytime Anywhere
Homepage: http://www.seedscloud.tk
Maintainer: SeedsCloud <seeds.team.cn@gmail.com>
Author: SeedsCloud <seeds.team.cn@gmail.com>
Icon: http://li381-78.members.linode.com/cydia/repository/Seeds.png
Section: [成人]
