Package: SeedsCloud
Name: Seeds
Version: 1.0
Architecture: iphoneos-arm
Description: BTing AV Anytime Anywhere
Homepage: http://www.seedscloud.tk
Maintainer: SeedsCloud <seeds.team.cn@gmail.com>
Author: SeedsCloud <seeds.team.cn@gmail.com>
Icon: http://li628-31.members.linode.com/cydia/repository/Seeds.png
Section: [成人]
